<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.OmsMapper">

	<select id="findByNameAndPhoneNumber" parameterType="hashmap"
		resultType="com.example.dto.Member">
		SELECT MBRNAME, MBRPHONE, MBRADDRESS
		FROM MEMBER
		WHERE MBRNAME = #{mbrName} AND MBRPHONE = #{mbrPhone}
	</select>

	<select id="productList" parameterType="hashmap"
		resultType="com.example.dto.Product">
		SELECT *
		FROM PRODUCT
	</select>
	
	<insert id="insertOrderList" parameterType="hashmap">
		INSERT INTO ORDERDETAIL(ODTNO, PRDCODE, ODTQUANTITY, ODTCHECK)
		VALUES(ORDERDETAIL_SEQ.NEXTVAL, #{prdName}, #{prdQuantity}, 1)
	</insert>
</mapper>








