<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.OrderMapper">
	
	<insert id="insertByCode" parameterType="com.example.dto.OrderDetail">
		insert into	orderdetail(odtno, odtquantity, prdcode, mbrid)
		values(ORDERDETAIL_SEQ.nextval,#{odtQuantity},#{prdCode},'admin')
	</insert>
	
	<!-- <select id="selectProduct" resultType="com.example.dto.Product">
		select *
		from product
	</select>
	
	<select id="selectProductByCode" parameterType="com.example.dto.Product" resultType="com.example.dto.Product">
		select *
		from product
		where prdcode = #{prdCode}
	</select>
	
	<select id="codeByAmount" resultType="int" parameterType="string">
		select sum(wlquantity) 
		from WAREHOUSELOCATION 
		where PRDCODE = #{code}
	</select> -->
	
	<!-- <insert id="insertStoreBoard" parameterType="com.badazo.dto.StoreBoard">
		insert
		into
		storeboard(
		SBNO,
		SBNAME,
		SBLICENSE,
		SBPHONE,
		SBADDRESS,
		SBCONTENT,
		SBWRITER,
		SBTYPE,
		SBTAGNAME)
		values(STOREBOARD_SEQ.nextval,#{sbName},#{sbLicense},#{sbPhone},#{sbAddress},#{sbContent},#{sbWriter},#{sbType},#{sbTagName})
	</insert>

	<insert id="insertStoreBoardAttach" parameterType="com.badazo.dto.StoreBoardAttach">
		insert into
		storeboardattach
		values(#{sbLicense},STOREBOARDATTACH_SEQ.nextval,#{sbaSaveFileName},#{sbaUserFileName})
	</insert>


	<select id="selectStoreBoardById" parameterType="hashmap"
		resultType="com.badazo.dto.StoreBoard">

		select *
		from (
			select rownum idx, s.*
			from (
				select *
				from storeboard
				order by sbno DESC
				)s
		)
		where sbwriter = #{sbWriter} AND idx >= #{first} AND idx <![CDATA[<]]> ${last}
	</select>
	
	<select id="selectStoreBoardCount" resultType="int">
		SELECT count(*) FROM storeboard
	</select>

	호가 만듬요 지우지 마삼.
	<select id="selectStoreBoard" resultType="com.badazo.dto.StoreBoard">
		SELECT * FROM
		storeboard where sbno = 51
	</select> -->
</mapper>