<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.mapper.OrderMapper">

	<select id="selectMemberByIdAndPasswd" parameterType="hashmap"
		resultType="com.example.dto.Member">
		SELECT c_id, c_email, c_usertype 
		FROM customer 
		WHERE c_id = #{id} AND c_passwd = #{passwd}
	</select>


</mapper>








