<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties>
		<property name="driver" value="oracle.jdbc.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@210.16.214.202:1521:xe" />
		<property name="username" value="upgo3" />
		<property name="password" value="upgo3" />
	</properties>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/example/mapper/member-mapper.xml" />
		<mapper resource="com/example/mapper/oms-mapper.xml" />
		<mapper resource="com/example/mapper/product-mapper.xml" />
		<mapper resource="com/example/mapper/warehouse-mapper.xml" />
		<mapper resource="com/example/mapper/order-mapper.xml" /> 
	</mappers>
</configuration>